.card{
    border-radius: 10px;
    background-color: lightgrey
}

.saved-list{
    border-radius: 15px;
    background-color: grey;
}

.deleteBook {
    border-radius: 5px;
    margin-left: 10px
}

.viewBook {
    border-radius: 5px;
    margin-left: 5px
}
/* 
.article{
    color:orange;
    font-weight: 300;
    font-size: 24px;
    height:50px;
} */

h3{
    margin-top: 0;
}

.jumbotron.jumbotron-fluid.d-flex.align-items-center{
    display:none;
}
